/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #f6eee4;
}

.image-size {
    height: 300px !important;
    width: 400px !important;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/Heart_hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 5em;
}



/* Style rules for mobile viewport */

/* Style rule show mobile class and hide tab-desk class */
.mobile, .mobile-tablet {
    display: block;
}

.tab-desk, .desktop {
    display: none;
}

/* Style rules for navigation area */
nav {
    background-color: #ff0000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bold;
    border-top: 0.5px solid #f6eee4;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li a:hover {
    color: #000000 !important;
}

/* Style Rules for Header */
header h1 {
    font-family: "Open Sans", Arial, sans-serif;
}

header p {
    font-family: Roboto, Arial, sans-serif;
    font-style: italic;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
caption {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
  }
  
tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
tbody tr:last-child td {
    border-bottom: none;
  }
  
td:first-child {
    font-weight: bold;
  }

caption {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
}

th, td {
    border: 1px solid black;
    padding: 1%;
}

th {
    background-color: black;
    color: #fff;
    font-size: 1.15em;
}
/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'Lora', serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0

}

/* Style rules for form elements */
form {
    max-width: 80%; /* Set the maximum width of the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding inside the form */
    border: 2px solid #ccc; /* Add a border around the form */
    border-radius: 10px; /* Add rounded corners to the form */
}

fieldset {
    border: none; /* Remove border from fieldset */
}

input[type="text"], input[type="tel"], input[type="email"],
textarea {
    width: 100%; /* Make input fields take up full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
    margin-bottom: 10px; /* Add margin below each input field */
    padding: 10px; /* Add padding inside input fields */
    border: 1px solid #ccc; /* Add border to input fields */
    border-radius: 5px; /* Add rounded corners to input fields */
}

.mobile-nav a {
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    padding: 3%;
    display: block;
  }
  
  .mobile-nav a.nav-icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: #f6eee4;
    padding: 2%;
  }
  
  .nav-icon div {
    height: 40px;
    width: 40px;
    color: #2a1f14;
  }  
  
label {
    display: block;
    margin-bottom: 5px; /* Add margin below each label */
}

form #submit {
    margin-top: 20px; /* Add space above the submit button */
    display: block;
    padding: 10px; /* Reduce the padding for the submit button */
    background-color: #c00000;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 5px; /* Use a smaller border radius for the button */
    border: none; /* Remove the default button border */
}

.youtube-video {
    position: relative;
    width: 100%;
    max-width: 560px; /* Adjust as needed */
    margin: 0 auto;
}

.youtube-video iframe {
    width: 100%;
    height: 315px; /* Adjust as needed */
}

.youtube-video p {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
    font-size: 18px; /* Adjust as needed */
    color: #333; /* Adjust as needed */
}

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: black;
    color: #f6eee4;
    padding: 1% 0;
}

footer a {
    color: #f6eee4;
    text-decoration: none;
}

.social img {
    display: inline-block;
    padding: 4%;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
 
    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }
    
    nav li a {
        padding: 0.5em;
    }
    
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    
    aside {
        grid-column: 1 / span 2;
    }

    
    
    /* Tablet Vieport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }
    /* Tablet Viewport: Style rules for footer area */
    
    /* Style rule for footer */
    footer {
        overflow: auto;
    }

    /* Style rule for the copyright class */

    .social {
        float: right;
        width: 25%;
    }
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
    /* Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }
    .mobile {
        display: none;
    }

    /* Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }
    nav li a {
        padding: 0.5em;
    }
    .grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    aside {
        grid-column: 1 / span 2;
    }

    .image-size {
        height: 50vw; /* Height scales with viewport width */
        width: 66.67vw; /* Width scales with viewport width */
    }

    /* Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }

    /* Style rules for footer area */
    footer {
        overflow: auto;
    }

    /* Style rule for social class */
    .social {
        float: right;
        width: 25%;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    /* Show desktop class, hide mobile-tablet class */
    .desktop {
        display: block;
    }
    .mobile-tablet {
        display: none;
    }

    .mobile, .mobile-nav {
    display: none;  
            }
    /* Style rules for nav area */
    nav li {
        font-size: 1.5em;
    }
    nav li a {
        padding: 0.5em 1.5em;
    }
    nav li a:hover {
        color: #000000 !important; /* Change text color to black on hover */
    }

    nav:active {
        background-color: #000000;
        color: #fff;
    }

}