/* CSS Reset */
body, header, nav, main, footer, img, h1, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
    background-color: #f6eee4;
}

img, style {
    max-width: 100%;
    display: block;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/Heart_hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-top: 5em;
}

/* Style rules for mobile viewport */

/* Style rule show mobile class and hide tab-desk class */
.mobile, .mobile-tablet {
    display: block;
}

.tab-desk, .desktop {
    display: none;
}

/* Style rules for navigation area */
nav {
    background-color: #ff0000;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 0.5px solid #f6eee4;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li a:hover {
    color: #000000 !important;
}

/* Style rules for main content */
main {
    padding: 2%;
    font-family: 'Lora', serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

/* Style rules for form elements */
form {
    max-width: 80%; /* Set the maximum width of the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding inside the form */
    border: 2px solid #ccc; /* Add a border around the form */
    border-radius: 10px; /* Add rounded corners to the form */
}

fieldset {
    border: none; /* Remove border from fieldset */
}

input[type="text"], input[type="tel"], input[type="email"],
textarea {
    width: 100%; /* Make input fields take up full width */
    box-sizing: border-box; /* Include padding and border in width calculation */
    margin-bottom: 10px; /* Add margin below each input field */
    padding: 10px; /* Add padding inside input fields */
    border: 1px solid #ccc; /* Add border to input fields */
    border-radius: 5px; /* Add rounded corners to input fields */
}

label {
    display: block;
    margin-bottom: 5px; /* Add margin below each label */
}

form #submit {
    margin-top: 20px; /* Add space above the submit button */
    display: block;
    padding: 10px; /* Reduce the padding for the submit button */
    background-color: #c00000;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 5px; /* Use a smaller border radius for the button */
    border: none; /* Remove the default button border */
}
/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.85em;
    background-color: black;
    color: #f6eee4;
    padding: 1% 0;
}

footer a {
    color: #f6eee4;
    text-decoration: none;
}

.social img {
    display: inline-block;
    padding: 4%;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
 
    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    /* Tablet Viewport: Style rules for nav area */
    nav li {
        border-top: none;
        display: inline-block;
        font-size: 1.25em;
    }
    
    nav li a {
        padding: 0.5em;
    }
    
    /* Tablet Vieport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }
    /* Tablet Viewport: Style rules for footer area */
    
    /* Style rule for footer */
    footer {
        overflow: auto;
    }

    /* Style rule for the copyright class */

    .social {
        float: right;
        width: 25%;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
    
    /* Desktop Viewport: Show desktop class, hide mobile-tablet class */
    
    /* .desktop style rule */
    .desktop {
        display: block;
    }
    
    /* Style rule for hiding mobile-tablet class */
    .mobile-tablet {
        display: none;
    }
    /* Desktop Viewport: Style rules for nav area */
    nav li {
        font-size: 1.5em;
    }
    
    nav li a {
        padding: 0.5em 1.5em;
    }
    
    nav li a:hover {
        color: #000000 !important; /* Change text color to black on hover */
    }
    
    /* Desktop Viewport: Style rules for main content */

    /* Style rules for table */
    table {
        border: 1px solid red;
        border-collapse: collapse;
        margin: 0 auto;
    }
    
    caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }
    
    th, td {
        border: 1px solid black;
        padding: 1%;
    }
    
    th {
        background-color: black;
        color: #fff;
        font-size: 1.15em;
    }
    
    tr:nth-child(odd) {
        background-color: light red;
    }

    /* Viewport: Style rules for form elements */
    form {
        width: auto;
    } 

    .form-grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
    }

    .btn {
        grid-column: 1 / span 2;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px), print {
    
    body {
        background: linear-gradient(#f6eee4, #78593a);
    }
        
    main {
        background-color: #f6eee4;
    }
    
}

/* Media Query for Print */
@media print {
    body {
        background-color: #fff;
        color: #000;
    }
}